{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> NAYEL PROJECT MANAGEMENT SERVICES </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/web/images/favicons/Nayel Favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/web/images/favicons/Favicon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/web/images/favicons/Favicon.png" />
    <link rel="manifest" href="/static/web/images/favicons/site.webmanifest" />
    <meta name="description" content="Roofsie HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="../../fonts.googleapis.com/index.html" />

    <link rel="preconnect" href="../../fonts.gstatic/web.com/index.html" crossorigin />

    <link
        href="../../fonts.googleapis.com/css2bc25.css?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="/static/web/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="/static/web/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="/static/web/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="/static/web/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="/static/web/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/roofsie-icons/style.css" />
    <link rel="stylesheet" href="/static/web/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="/static/web/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="/static/web/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="/static/web/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/static/web/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="/static/web/css/nayel.css" />
    <link rel="stylesheet" href="/static/web/css/nayel-responsive.css" />

    <!-- font awesome  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body class="sticky-header">
    
    {% comment %} 
    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
     {% endcomment %}
    



    {% comment %}
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>
    {% endcomment %}


    <!-- whatsapp button -->

    <section class="call-buton"><a href="https://api.whatsapp.com/send?phone=+918848936630&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
        class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a></section>
    <!-- /whatsapp button -->


    <!-- call button -->
    <section class="call-buton"><a class="cc-calto-action-ripple" href="tel:+91 8848936630"><i class="fa fa-phone"></i>
        </a>
    </section>
    <!-- /call button -->


    <!-- .mobile-nav__wrapper -->

    

    <!-- .mobile-nav__wrapper -->

    <!-- <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a> -->

    <div id="main-wrapper" class="main-wrapper">
        {% include 'web/partials/header.html' %}
        {% include 'web/partials/search_popup.html' %}
        {% block content %}
        
        {% endblock %}
        {% include 'web/partials/footer.html' %}
        {% include 'web/partials/mobile_wrapper.html' %}
    </div>

    <script src="/static/web/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/web/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/web/vendors/jarallax/jarallax.min.js"></script>
    <script src="/static/web/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/static/web/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/static/web/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/static/web/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/static/web/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static/web/vendors/nouislider/nouislider.min.js"></script>
    <script src="/static/web/vendors/odometer/odometer.min.js"></script>
    <script src="/static/web/vendors/swiper/swiper.min.js"></script>
    <script src="/static/web/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="/static/web/vendors/wnumb/wNumb.min.js"></script>
    <script src="/static/web/vendors/wow/wow.js"></script>
    <script src="/static/web/vendors/isotope/isotope.js"></script>
    <script src="/static/web/vendors/countdown/countdown.min.js"></script>
    <script src="/static/web/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/static/web/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/static/web/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/web/vendors/vegas/vegas.min.js"></script>
    <script src="/static/web/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/static/web/vendors/timepicker/timePicker.js"></script>
    <script src="/static/web/vendors/circleType/jquery.circleType.js"></script>
    <script src="/static/web/vendors/circleType/jquery.lettering.min.js"></script>

    <!-- template js -->
    <script src="/static/web/js/roofsie.js"></script>
</body>

</html>