{% extends 'web/base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">


<head>
    {% comment %} base {% endcomment %}
</head>

<body class="custom-cursor">







    <div class="page-wrapper">
        {% comment %} heade {% endcomment %}

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg"
                style="background-image: url(/static/web/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="{% url 'web:index' %}">Home</a></li>
                        <li><span>/</span></li>
                        <li>Team details</li>
                    </ul>
                    <h2>Team details</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Team Details Start-->
        <section class="team-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="team-details__left">
                            <div class="team-details__img">
                                <!-- <img src="/static/web/images/team/team-details-img.jpg" alt=""> -->
                                <img src="{{career.image.url}}" alt="">
                                <div class="team-details__big-text">nayel</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="team-details__right">
                            <div class="team-details__content">
                                <div class="section-title text-left">
                                    <div class="section-sub-title">
                                        <p class="section-sub-title">{{career.title}}</p>
                                    </div>
                                    <h2 class="section-title__title_lamiiz">{{career.career}}</h2>
                                    <p class="Introduction_lamiiz">Introduction</p>
                                </div>
                                <p class="team-details__text-2_lamiiz"></i>{{career.Introduction}}</p>
                                {% comment %} <div class="team-details__btn-box">
                                    <a href="{% url 'web:contact' %}" class="thm-btn team-details__btn"> <i
                                            class="fa fa-arrow-right"></i> Contact with me</a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .section-title__title_lamiiz {
                        margin: 0;
                        color: var(--nayel-black);
                        font-size: 30px;
                        line-height: 58px;
                        font-weight: 800;
                    }

                    .Introduction_lamiiz {
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 600;
                        padding-top: 45px;
                        padding-bottom: 0px;
                        color: var(--nayel-base);
                    }

                    .team-details__text-2_lamiiz {
                        font-size: 18px;
                        line-height: 34px;
                        padding-top: 33px;
                        font-weight: 400;
                        color: var(--nayel-black);
                    }

                    .team-details__img img {
                        height: 32rem;
                        padding-top: 17px;
                    }
                </style>
                <div class="col-xl-12 col-lg-7">
                    <div class="service-details__content">
                        <p class="service-details__text-2 text-center">{{career.points_headline_1}}</p>
                    </div>

                    <div class="service-details__benefits">
                        <div class="row">

                            <div class="col-xl-12">
                                <div class="service-details__benefits-single">
                                    <div class="service-details__benefits-content">
                                        <ul class="list-unstyled service-details__benefits-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>point 1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam voluptas accusamus, illum, minus sunt vitae provident obcaecati quod qui nemo rem explicabo eligendi laborum. Vitae vero veritatis eos saepe sequi.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>point 2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam voluptas accusamus, illum, minus sunt vitae provident obcaecati quod qui nemo rem explicabo eligendi laborum. Vitae vero veritatis eos saepe sequi.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_1_3}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_1_4}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_1_5}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_1_6}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_1_7}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_1_8}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-7">
                    <div class="service-details__content">
                        <p class="service-details__text-2 service-details__text-2_lamiiz text-center">
                            {{career.points_headline_2}}</p>
                    </div>

                    <div class="service-details__benefits">
                        <div class="row">

                            <div class="col-xl-12">
                                <div class="service-details__benefits-single">
                                    <div class="service-details__benefits-content">
                                        <ul class="list-unstyled service-details__benefits-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">

                                                    <p>{{career.detials_2_1}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_2_2}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_2_3}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_2_4}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_2_5}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_2_6}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_2_7}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_2_8}}</p>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-7">
                    <div class="service-details__content">
                        <p class="service-details__text-2 service-details__text-2_lamiiz text-center">
                            {{career.points_headline_3}}</p>
                    </div>

                    <div class="service-details__benefits">
                        <div class="row">

                            <div class="col-xl-12">
                                <div class="service-details__benefits-single">
                                    <div class="service-details__benefits-content">
                                        <ul class="list-unstyled service-details__benefits-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_3_1}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_3_2}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_3_3}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_3_4}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                                <div class="text">
                                                    <p>{{career.detials_3_5}}</p>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                    <style>
                                        .service-details__text-2_lamiiz {
                                            padding-top: 0px;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Team Details End-->

        <!--Team Experience Start-->
        <section class="team-experience">
            <div class="container">
                <div class="team-experience__top">
                    <h3 class="team-experience__title">apply your form</h3>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <form action="https://roofsie-html.vercel.app/main-html//static/web/inc/sendemail.php"
                            class="comment-one__form contact-form-validated" novalidate="novalidate">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="comment-form__input-box">
                                        <!-- <label class="input">Name</label> -->
                                        <input class="input" type="text" placeholder="Your name" name="name">
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="comment-form__input-box">
                                        <!-- <label class="input">Name</label> -->
                                        <input class="input" type="text" placeholder="Phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="comment-form__input-box">
                                        <!-- <label class="input">Name</label> -->
                                        <input class="input" type="email" placeholder="Email address" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-lg-4">
                                <div class="col-xl-6">
                                    <select id="id_qualification" class="form-select form_select" name="qualification"
                                        required>
                                        <option selected disabled>Select Qualification</option>
                                        <option value="plus_two">Plus Two</option>
                                        <option value="tenth">10th</option>
                                        <option value="degree">Degree</option>
                                    </select>
                                </div>
                                <div class="col-xl-6">
                                    <select id="id_career" class="form-select form_select" name="career" required>
                                        <option selected disabled>Select Career</option>
                                        <option value="python_developer">Python Developer</option>
                                        <option value="full_stack_developer">Fulll stack Developer</option>
                                        <option value="flutter_developer">Flutter Developer</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="comment-form__input-box text-message-box">
                                        <!-- <label class="textarea">Name</label> -->
                                        <textarea class="textarea" name="message"
                                            placeholder="Write a message"></textarea>
                                    </div>
                                    <div class="comment-form__btn-box">
                                        <button type="submit" class="thm-btn comment-form__btn"> <i
                                                class="fa fa-arrow-right"></i> Send a message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </section>
        <!--Team Experience End-->

        <!--Site Footer Start-->
        {% comment %} footer {% endcomment %}
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->



    <!-- /.mobile-nav__wrapper -->


    <!-- /.search-popup -->



    {% comment %} base {% endcomment %}
</body>

</html>

{% endblock %}